.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 100%;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.slogan {
  display: flex;
  flex-direction: column;
}

.h1 {
  font-size: min(max(3rem, 12vw), 7rem);
  font-weight: 900;
  line-height: 1em;
}

.banner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}

.icon {
  transform: scale(0.8);
}
