.storyless > *:not(.preview *) {
  /* Box sizing to border-box for consistency */
  box-sizing: border-box;

  /* Remove margins and paddings */
  margin: 0;
  padding: 0;

  /* Neutralize line height and font inheritance */
  font-size: 100%;
  font: inherit;
  line-height: inherit;

  /* Reset list styles */
  list-style: none;

  /* Reset border and outline */
  border: 0;
  border-radius: 0;
  outline: 0;
}

/* Reset text decoration and color inheritance for links */
.storyless a:not(.preview a) {
  text-decoration: none;
  color: inherit;
}

/* Reset button and input styles */
.storyless button:not(.preview button),
.storyless input:not(.preview input),
.storyless select:not(.preview select),
.storyless textarea:not(.preview textarea) {
  background: none;
  background-color: none;
  outline: none;
  border: none;
  border-radius: 0;

  margin: 0;

  color: black;
  font: inherit;
  letter-spacing: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.storyless button:not(.preview button):focus {
  outline: none;
  box-shadow: none;
}

/* Reset table styles */
.storyless table:not(.preview table) {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Reset visual formatting for fieldsets */
.storyless fieldset:not(.preview fieldset) {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Optionally, reset specific HTML5 elements */
.storyless article:not(.preview article),
.storyless aside:not(.preview aside),
.storyless details:not(.preview details),
.storyless figcaption:not(.preview figcaption),
.storyless figure:not(.preview figure),
.storyless footer:not(.preview footer),
.storyless header:not(.preview header),
.storyless main:not(.preview main),
.storyless menu:not(.preview menu),
.storyless nav:not(.preview nav),
.storyless section:not(.preview section),
.storyless summary:not(.preview summary) {
  display: block;
}

.preview {
  border-radius: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #12191f;
  padding: 0;
  margin: 0;
}

.container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  overflow-y: hidden;
  background-color: #12191f;
}

.fullHeightWidth {
  display: flex;
  height: 100%;
  width: 100%;
  max-height: 100vh;
}

.sidebar {
  width: 10rem;
  max-height: 100%;
  overflow-y: auto;
  border-right: 2px solid;
  border-right-color: rgba(255, 255, 255, 0.1);
  background-color: #12191f;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.sidebar button {
  text-align: right;
}

.storyless button.unselectedButton:not(.preview button) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.5);
  width: 100%;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  font-size: 0.75rem;
}

.storyless button.unselectedButton:not(.preview button):hover {
  background-color: rgba(255, 255, 255, 0.025);
}

.storyless button.selectedButton:not(.preview button) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 1);
  width: 100%;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  font-size: 0.75rem;
}

.fixedButton {
  margin: 0;
  position: fixed;
  font-size: 0.875rem;
  bottom: min(max(0.5rem, 2vw), 2rem);
  right: min(max(0.5rem, 2.25vw), 3rem);
  user-select: none;
  border-radius: 9999px;
  border: none;
  border-width: none;
  border-color: none;
  outline: none;
  box-shadow: none;
  background-color: #12191f;
  border: 2px solid #fff;
  color: #fff;
  padding: 0.75rem;
  width: 9rem;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 9999;
}
