.container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  overflow-y: hidden;
  background-color: white;
}

.fullHeightWidth {
  display: flex;
  height: 100%;
  width: 100%;
  max-height: 100vh;
}

.sidebar {
  width: 8rem; /* 32px in rem */
  border-right: 2px solid;
}

.content {
  width: 100%;
  overflow-y: scroll;
  padding: 1.25rem; /* 20px in rem */
}

.selectedButton {
  background-color: #4b5563; /* slate-600 */
  color: white;
  width: 100%;
  padding: 0.5rem; /* 8px in rem */
}

.unselectedButton {
  background-color: #f1f5f9; /* slate-100 */
  color: #4b5563; /* slate-600 */
  width: 100%;
  padding: 0.5rem; /* 8px in rem */
}

.fixedButton {
  position: fixed;
  bottom: 1rem; /* 20px in rem */
  right: 2rem; /* 20px in rem */
  user-select: none;
  border-radius: 9999px;
  border: none;
  border-width: none;
  border-color: none;
  outline: none;
  box-shadow: none;
  background-color: #12191f;
  border: 2px solid #fff;
  color: #fff;
  /* color: #4b5563; */
  padding: 1rem; /* 16px in rem */
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
