* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
#__next {
  /* height: 100%; */
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  max-width: 100vw;
  min-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  user-select: none;
}
